.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 3em;
    border-color: #ffac33;
    margin-top: 20vh;
    width: 30vw;
    height: 50vh;
}

.loginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginInput {
    width: 20vw;
    margin-bottom: 1vh!important;
}

.loginBtn {
    width: 15vw;
    margin-top: 1vh !important;
    margin-bottom: 2vh!important;
}
